* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ffffff;
}

#logo img {
    margin-top: 1em;
    width: 100%;
}

@media only screen and (min-width: 830px) {
    #logo {
        width: 40em;
        margin-left: auto;
        margin-right: auto;
    }
}

menu {
    margin: 0;
    padding: 0;
    margin-top: 3em;
    margin-bottom: 3em;
}

menu ul {
    list-style-type: none;
}

menu li {
    margin-top: .3em;
    margin-bottom: .3em;
}

menu a {
    text-decoration: none;
    color: #0f0f0f;
    font-family: Merriweather, "Times New Roman", serif;
    font-weight: 100;
    font-style: italic;
    font-size: 2em;
}

@media only screen and (min-width: 830px) {
    menu li {
        display: inline;
        margin-left: 1em;
        margin-right: 1em;
    }

    menu {
        text-align: center;
    }
}

#container {
    margin: 1.5em;
}

@media only screen and (min-width: 830px) {
    #container {
    }
}

#content {
    color: #0f0f0f;
    font-family: Merriweather, "Times New Roman", serif;
    line-height: 1.7em;
}
@media only screen and (min-width: 830px) {
    #content {
        width: 40em;
        margin-left: auto;
        margin-right: auto;
}
}


#content p {
    margin-top: 1em;
}



